@media (min-width:320px) {
    .mainContainer {
        background-color:#c1272d;
        height:110px;
        text-align:center;
    }
    .mainText{
        font-size:18px;
        text-align:center;
    }
    .extraButton{
        height: 39px;
        padding: 12px 25px 11px 25px;
    }
}
@media (min-width:768px) {
    .mainContainer {
        background-color:#c1272d;
        height:78px;
        text-align:right;
    }
    .mainText{
        font-size:20px;
        padding-left:42px;
        text-align:left;
    }
    .extraButton{
        height: 46px;
        padding: 15px 25px 15px 25px;
        
    }
}
@media (min-width:1024px) {
    .mainContainer {
        background-color:#c1272d;
        height:78px;
        text-align:right; 
    }
    .mainText{
        font-size:20px;
        padding-left:42px;
        text-align:left;
    }
    .extraButton{
        height: 50px;
        padding: 15px 35px 14px 35px;
        
    }
}
@media (min-width:1440px) {
    .mainContainer {
        background-color:#c1272d;
        height:78px;
        text-align:right;
    }
    .mainText{
        font-size:24px;
        padding-left:60px;
        text-align:left;
    }
    .extraButton{
        height: 50px;
        padding: 11px 43px 10px 43px;
    }
}