@media (max-width:320px) {
    .mainContainer {
        background-color:#c1272d;
        height:110px;
        text-align:center;
    }
    .mainText{
        font-size:18px;
        text-align:center;
    }
    .extraButton{
        height: 40px;
        padding: 6px 14px 6px 14px;
        margin-right:0px;
        font-size:16px;
    }
}
@media (min-width:320px) {
    .mainContainer {
        background-color:#c1272d;
        height:110px;
        text-align:center;
    }
    .mainText{
        font-size:18px;
        text-align:center;
    }
    .extraButton{
        height: 50px;
        padding: 10px 26px 10px 26px;
        margin-right:0px;
        font-size:18px;
    }
}
@media (min-width:768px) {
    .mainContainer {
        background-color:#c1272d;
        height:78px;
        text-align:right;
    }
    .mainText{
        font-size:20px;
        padding-left:42px;
        text-align:left;
    }
    .extraButton{
        height: 50px;
        padding: 15px 35px 14px 35px;
        margin-right:42px;
        font-size:24px;
    }
}
@media (min-width:1024px) {
    .mainContainer {
        background-color:#c1272d;
        height:78px;
        text-align:right; 
    }
    .mainText{
        font-size:20px;
        padding-left:42px;
        text-align:left;
    }
    .extraButton{
        height: 50px;
        padding: 15px 35px 14px 35px;
        margin-right:42px;
        font-size:24px;
    }
}
@media (min-width:1440px) {
    .mainContainer {
        border:1px solid white;
        background-color:#c1272d;
        height:78px;
        text-align:right;
    }
    .mainText{
        font-size:24px;
        padding-left:60px;
        text-align:left;
    }
    .extraButton{
        height: 50px;
        padding: 11px 43px 11px 43px;
        margin-right:60px;
        font-size:24px;
    }
}
.btn-default {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
    line-height: 20px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 100px;
    background: transparent;
    transition: all 0.3s ease 0s;
}