$generalStyle: (
    ".backgroundContainer": (
        xs:(
            height:429px
        ),
        sm:(
            height:429px
        ),
        md:(
            height:371px
        ),
        lg:(
            height:371px
        ),
        xl:(
            height:371px
        )
    ),
    ".secondBlockContentText":(
        xs:(
            padding:0px 15px,
            font-size:14px
        ),
        sm:(
            padding:0px 15px,
            font-size:14px
        ),
        md:(
            padding:0px 24px 0px 10px,
            font-size:14px
        ),
        lg:(
            padding:0px 42px 0px 10px,
            font-size:16px
        ),
        xl:(
            padding:0px 90px 0px 90px,
            font-size:18px
        ),
        nm:(
            color:#cccccc,
            text-align: justify
        )
    )
);
@each $className, $classStyle in $generalStyle {
    @each $widthKey, $widthStyle in $classStyle {
        @if $widthKey == "xs" {
            @media (max-width:320px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "sm" {
            @media (min-width:320px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "md" {
            @media (min-width:768px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "lg" {
            @media (min-width:1024px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        }@else if $widthKey == "xl" {
            @media (min-width:1440px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        }@else if $widthKey == "nm" {
            #{$className}{
                @each $key, $value in $widthStyle {
                    #{$key}:$value;
                }
            }
        }
    }
}
@media (min-width:320px) {
    .firstBlockMainText{
        font-size:14px;
        color: #FFFFFF;
        padding-left:15px;
        padding-right:15px;
        text-align: justify;
    }
    .firstBlockHeader{
        font-size:18px;
        padding-top:24px;
        text-align:center;
    }
    .footerText {
        font-size:20px;
        height: 24px;
    }
    .secondBlockHeader{
        font-size:18px;
        padding-top:24px;
    }
}
@media (min-width:768px) {
    .firstBlockMainText{
        font-size:14px;
        color: #FFFFFF;
        padding-left:24px;
        padding-right:24px;
        margin-top: 16px;
        text-align: justify;
    }
    .firstBlockHeader{
        font-size:18px;
        padding-top:24px;
        text-align:center;        
    }
    .footerText {
        font-size:22px;
        height: 24px;
    }
    .secondBlockHeader{
        font-size:18px;
        padding-top:24px;
    }
}
@media (min-width:1024px) {
    .firstBlockMainText{
        font-size:16px;
        color: #FFFFFF;
        padding-left:42px;
        padding-right:42px;
        margin-top: 18px;
        text-align: justify;
    }
    .firstBlockHeader{
        font-size:22px;
        padding-top:24px;
        text-align:center;
    }
    .footerText{
        font-size:24px;
        height: 30px;
    }
    .secondBlockHeader{
        font-size:22px;
        padding-top:24px;
    }
}
@media (min-width:1440px) {
    .firstBlockMainText{
        font-size:18px;
        color: #FFFFFF;
        padding-left:95px;
        padding-right:95px;
        margin-top: 20px;
        text-align: justify;
    }
    
    .firstBlockHeader{
        font-size:24px;
        padding-top:24px;
        text-align:center;
    }

    .footerText {
        font-size:26px;
        height: 30px;
    }
    .secondBlockHeader{
        font-size:24px;
        padding-top:24px;

    }
}

.footerText{
    margin-bottom: 0px;
}
.secondBlockHeader{
    color:white;
    text-align:center;
}
.secondBlockHeaderIns{
    text-decoration:none;
    border-bottom: 2px solid #C1272D;
    padding-bottom: 5px;
}
.firstBlockHeaderIns{
    text-decoration:none;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
.backgroundColorContainer{
    background-color: #C1272D;
    color:white;
}

ul {
    margin: 0;
    padding-left:10px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}