.container{
    /*
        In CSS
        flex-direction:column;
        flex-wrap:nowrap;
    */
    flex: {
        direction:column;
        wrap:nowrap;
    }
}

$main-colr: #ddd;
$border-default: 0.05rem solid $main-colr;
$default-font: Arial , sans-serif;

$colors:(
    main:#819,
    secondary:#038
);
//getting value of the map
//map-get($colors,main);
$defult-size: 2;

.test{
    padding :$defult-size*2 ;
}

.extend1{
    padding: 12px;
}
.extend2{
    @extend .extend1; 
    margin: 12px;
}
.extend3{
    @extend .extend1; 
    margin: 12px;
}

@mixin media-min-width($size){
   font-size:$size;
}
.test{
    &:active{
        font-size:12px;
    }
}



@mixin media-min-width($width){
    @media (min-width: $width) {
        @content ;
    }
}
html{
    @include media-min-width(400px){
        font-size: 125%;
    }
}