@import "../general/default.scss";
@import "../general/layout.scss";
@import "../general/generalMix.scss";
@import "../general/icons.scss";
@media (max-width:320px) {
    @include headerLogo(".leftLogoImage",40px,100px,15px,0px,10px,5px);
    @include headerLogo(".rightLogoImage",40px,100px,15px,0px,10px,5px,"no","right");
    .subContainerOwn{
        margin-left:25%;
    }
    .subContainerTwo{
        display:none;
    }
    .mainContainer{
        height:60px;
    }
}
@media (min-width:320px) {
    @include headerLogo(".leftLogoImage",40px,145px,15px,0px,10px,5px);
    @include headerLogo(".rightLogoImage",40px,145px,15px,0px,10px,5px,"no","right");
    @include iconScreen(24px,2px,$color-style3,14px,10px);
    .iconContainer{
        display: block;
        margin:24px 12px;
    }
}
@media (min-width:768px) {
    @include headerLogo(".leftLogoImage",60px,225px,24px,0px,10px,10px);
    @include headerLogo(".rightLogoImage",60px,217px,24px,0px,10px,5px,"no","right");
    @include iconScreen(24px,2px,$color-style3,14px,10px);
    .mainContainer{
        height:80px;
    }
    .subContainerTwo{
        padding-right: 24px;
    }
    .iconContainer{
        display: block;
        margin:24px;
    }
}
@media (min-width:1024px) {
    @include headerLogo(".leftLogoImage",90px,326px,42px,0px,20px,20px);
    @include headerLogo(".rightLogoImage",90px,195px,42px,0px,20px,20px,"","right");
    .iconContainer{
        display: none;
    }
    .mainContainer{
        height:130px;
    }
    .subContainerTwo{
        padding-right: 42px;
    }
}
@media (min-width:1440px) {
    @include headerLogo(".leftLogoImage",90px,326px,60px,0px,20px,20px);
    @include headerLogo(".rightLogoImage",90px,195px,60px,0px,20px,20px,"","right");
    .subContainerTwo{
        padding-right: 60px;
    }
}
@include iconGeneral(50%,center,middle);
@include flexContainer();