@media (min-width:320px) {
    .navbar_style1{
        font-size: 14px;    
    }
}
@media (min-width:768px) {
    .navbar_style1{
        font-size: 14px;    
    }
}
@media (min-width:1024px) {
    .navbar_style1{
        font-size: 14px;    
    }
}
@media (min-width:1440px) {
    .navbar_style1{
        font-size: 18px;    
    } 
}