@media (max-width:320px) {
    .buttonContainer{
        margin: 6px 15px 6px 15px;
    }
}
@media (min-width:320px){
    .buttonContainer{
        margin: 6px 15px 6px 15px;
    }
}
@media (min-width:768px) {
    .buttonContainer{
        margin: 8px 24px 8px 24px;
    }
}
@media (min-width:1024px) {
    .buttonContainer{
        margin: 8px 42px 8px 42px;
    }
}
@media (min-width:1440px) {
    .buttonContainer{
        margin: 10px 60px 10px 60px;
    }
}
.allButtons{
    padding:14px 0px 14px 0px;
    margin-bottom: 20px;
    font-size:20px;
}