@import "../general/default.scss";

@media (max-width:320px) {
    .mainText{
        font-size:18;
        margin-top:10px;
        text-align:center;
    }
    .contentText{
        font-size:14px;
        margin:10px 15px 15px 15px;
    }
}
@media (min-width:320px) {
    .mainText{
        font-size:18;
        margin-top:10px;
        text-align:center;
    }
    .contentText{
        font-size:14px;
        margin-left:15px;
        margin-right:15px;
        margin:10px 15px 15px 15px;
    }
}
@media (min-width:768px) {
    .mainText{
        font-size:24;
        margin-top:20px;
        text-align:center;
    }
    .contentText{
        font-size:18px;
        margin:10px 24px 20px 24px;

    }
}
@media (min-width:1024px) {
    .mainText{
        font-size:24;
        margin-top:20px;
        text-align:center;
    }
    .contentText{
        font-size:18px;
        margin:10px 42px 20px 42px;

    }
}
@media (min-width:1440px) {
    .mainText{
        font-size:24;
        margin-top:20px;
        text-align:center;
    }
    .contentText{
        font-size:18px;
        margin:10px 60px 20px 60px;
    }
}
.insClass { 
    text-decoration:none;
    border-bottom: 3px solid $color-style1;
    padding-bottom: 5px;
}
.contentText{
    text-align:justify;
    font-family: $font-family-style1;
}
