@import "../general/default.scss";
$generalStyle: (
    ".mainContainer": (
        xs:(
          padding:0px 45px
        ),
        sm:(
          padding:0px 45px
        ),
        md:(
          padding:0px 26px
        ),
        lg:(
          padding:0px 44px
        ),
        xl:(
          padding:0px 60px
        )
    ),
    ".subContainer": (
      xs:(
        flex: 100%
      ),
      sm:(
        flex: 100%
      ),
      md:(
        flex: 50%
      ),
      lg:(
        flex: 33.3%
      ),
      xl:(
        flex: 33.3%
      )
    ),
    ".addressNameStyle": (
      xs:(
        margin:10px,
      ),
      sm:(
        margin:10px,
      ),
      md:(
        margin:10px,
      ),
      lg:(
        width:300px,
        height:38px,
        margin:15px,
      ),
      xl:(
        width:300px,
        height:38px,
        margin:15px,
      )
    ),
    ".phoneNumberStyle": (
      xs:(
        margin-left:10px,
        margin-top:0px
      ),
      sm:(
        margin-left:10px,
        margin-top:0px
      ),
      md:(
        margin-left:10px,
        margin-top:0px
      ),
      lg:(
        margin-left:15px,
        margin-top:20px
      ),
      xl:(
        margin-left:15px,
        margin-top:20px
      )
    ),
    ".cityNameStyle": (
      xs:(
      ),
      sm:(
      ),
      md:(
      ),
      lg:(
      ),
      xl:(
      )
    )
);
@each $className, $classStyle in $generalStyle {
    @each $widthKey, $widthStyle in $classStyle {
        @if $widthKey == "xs" {
            @media (max-width:320px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "sm" {
            @media (min-width:320px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "md" {
            @media (min-width:768px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "lg" {
            @media (min-width:1024px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        }@else if $widthKey == "xl" {
            @media (min-width:1440px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        }
    }
}

.mainContainer{
  display: flex;
  flex-wrap: wrap;
}
.emailInfo{
    font-size:20px;
    font-weight:bold;
    margin: {
      top:20px;
      bottom: 10px;
    }
}
.cityNameStyle{
  text-align:left;
  color:$color-style2;
  font: {
    weight:bold;
    family:$font-family-style1;
    size:20px;
  } 
}
.addressNameStyle{
  color:$color-style2;
  font: {
    family:$font-family-style1;
    size:16px;
  } 
}
.phoneNumberStyle{
  font-size: 16px;
  color:$color-style2;
}
::v-deep .fa-2x{
  font-size:18px;
}