@media (max-width:320px) {
    .footerImage{
        width:145px;
        height: 40px;
    } 
}
@media (min-width:320px) {
    .footerImage{
        width:145px;
        height: 40px;
    }   
}
@media (min-width:768px) {
    .footerImage{
        width:217px;
        height: 60px;
    }  
}
@media (min-width:1024px) {
    .footerImage{
        width:326px;
        height: 90px;
    }  
}
@media (min-width:1440px) {
    .footerImage{
        width:326px;
        height: 90px;
    }
}
.logoContainer{
    margin-top:20px;
    text-align:center;
}