@import "../general/default.scss";
@import "../general/icons.scss";
$generalStyle: (
    ".aa": (
        xs:(
            height:262px
        ),
        sm:(
            height:262px
        ),
        md:(
            height:188px
        ),
        lg:(
            height:188px
        ),
        xl:(
            height:188px
        )
    )
);
@each $className, $classStyle in $generalStyle {
    @each $widthKey, $widthStyle in $classStyle {
        @if $widthKey == "xs" {
            @media (max-width:320px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "sm" {
            @media (min-width:320px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "md" {
            @media (min-width:768px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "lg" {
            @media (min-width:1024px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        }@else if $widthKey == "xl" {
            @media (min-width:1440px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        }
    }
}

@media (max-width:320px) { 
    @include iconScreen(50px,3px,$color-style3,25px,16px);
    .socialContainer{
        margin-top:20px;
    }
}
@media (min-width:320px) {
    @include iconScreen(50px,3px,$color-style3,25px,16px);
    .socialContainer{
        margin-top:20px;
    }
}
@media (min-width:768px) {
    @include iconScreen(50px,3px,$color-style3,25px,20px);
    .socialContainer{
        margin-top:50px;
    }
}
@media (min-width:1024px) {
    @include iconScreen(50px,3px,$color-style3,32px,45px);
    .socialContainer{
        margin-top:20px;
    }
}
@media (min-width:1440px) {
    @include iconScreen(50px,3px,$color-style3,32px,45px);
    .socialContainer{
        margin-top:20px;
    }
}
@include iconGeneral(50%,center,middle);