$generalStyle: (
    ".mainContainer":(
        xs:(
            margin:20px 15px 10px 15px
        ),
        sm:(
            margin:20px 15px 10px 15px
        ),
        md:(
            margin:50px 24px 10px 24px
        ),
        lg:(
            margin:30px 20px 10px 20px
        ),
        xl:(
            margin:30px 60px 10px 60px
        )
    ),
    ".columnsMainContainer":(
        xs:(
            flex:100%
        ),
        sm:(
            flex:100%
        ),
        md:(
            flex:50%
        ),
        lg:(
            flex: 33.3%
        ),
        xl:(
            flex: 33.3%
        )
    ),
    ".firstColumn": (
        xs:(
            padding: 10px 0px 10px 0px,
        ),
        sm:(
            padding: 10px 0px 10px 0px,
        ),
        md:(
            padding: 10px 10px 10px 0px
        ),
        lg:(
            padding: 0px 15px 0px 0px
        ),
        xl:(
            padding: 0px 15px 0px 0px,
        )
    ), 
    ".secondColumn": (
        xs:(
            padding: 10px 0px 10px 0px,
        ),
        sm:(
            padding: 10px 0px 10px 0px,
        ),
        md:(
            padding: 10px 0px 10px 10px
        ),
        lg:(
            padding: 0px 7.5px 0px 7.5px
        ),
        xl:(
            padding: 0px 7.5px 0px 7.5px
        )
    ),
    ".thirdColumn": (
        xs:(
            padding: 10px 0px 10px 0px
        ),
        sm:(
            padding: 10px 0px 10px 0px,
        ),
        md:(
            padding: 10px 10px 10px 0px
        ),
        lg:(
            padding: 0px 0px 0px 15px
        ),
        xl:(
            padding:0px 0px 0px 15px
        )
    ),
    ".fourthColumn": (
        xs:(
            padding: 10px 0px 10px 0px
        ),
        sm:(
            padding: 10px 0px 10px 0px,
        ),
        md:(
            padding: 10px 0px 10px 10px
        ),
        lg:(
            padding: 20px 15px 0px 0px
        ),
        xl:(
            padding: 20px 15px 0px 0px
        )
    ),
    ".fifthColumn": (
        xs:(
            padding: 10px 0px 10px 0px,
        ),
        sm:(
            padding: 10px 0px 10px 0px,
        ),
        md:(
            padding: 10px 10px 10px 0px
        ),
        lg:(
            padding: 20px 7.5px 0px 7.5px
        ),
        xl:(
            padding:20px 7.5px 0px 7.5px
        )
    ),
    ".sixthColumn": (
        xs:(
            padding: 10px 0px 10px 0px,
        ),
        sm:(
            padding: 10px 0px 10px 0px,
        ),
        md:(
            padding: 10px 0px 10px 10px,
        ),
        lg:(
            padding: 20px 0px 0px 15px
        ),
        xl:(
            padding: 20px 0px 0px 15px
        )
    ),
    ".bottomText": (
        xs:(
            background-color:#C1272D,
            color:white,
            font-size:40px,
            height: 394px,
            padding: 77px 66px 77px 66px
        ),
        sm:(
            background-color:#C1272D,
            color:white,
            font-size:40px,
            height: 394px,
            padding: 77px 66px 77px 66px
        ),
        md:(
            background-color:#C1272D,
            color:white,
            font-size:40px,
            height: 394px,
            padding: 40px 80px 40px 80px
        ),
        lg:(
            padding: 44px 80px 44px 80px,
            background-color:#C1272D,
            color:white,
            font-size:40px,
            height: 394px
        ),
        xl:(
            padding: 48px 135px 48px 135px,
            background-color:#C1272D,
            color:white,
            font-size:40px,
            height: 394px,
        )
    ),
    "::v-deep .buttonCard": (
        xs:(
            margin:0px 0px 10px 0px
        ),
        sm:(
            margin:0px 0px 10px 0px
        ),
        md:(
            margin:0px 0px 10px 0px
        ),
        lg:(
            margin:0px 0px 10px 0px
        ),
        xl:(
            margin:0px 0px 20px 0px
        )
    ),
    "::v-deep .headerText": (
        xs:(
            font-size:18px,
            padding:5px 0px 0px 0px,
            color:#C1272D,
        ),
        sm:(
            font-size:18px,
            padding:5px 0px 0px 0px,
            color:#C1272D,
        ),
        md:(
            font-size:18px,
            padding:5px 0px 0px 0px,
            color:#C1272D,
        ),
        lg:(
            font-size:22px,
            padding:5px 0px 0px 0px,
            color:#C1272D,
        ),
        xl:(
            font-size:24px,
            padding:10px 0px 0px 0px,
            color:#C1272D,
        )
    ),
    "::v-deep .bodyText": (
        xs:(
            font-size:13px,
            padding:4px
        ),
        sm:(
            font-size:13px,
            padding:4px
        ),
        md:(
            font-size:14px,
            padding:4px
        ),
        lg:(
            font-size:14px,
            padding:4px
        ),
        xl:(
            font-size:15px,
            padding:5px
        )
    )
);
@each $className, $classStyle in $generalStyle {
    @each $widthKey, $widthStyle in $classStyle {
        @if $widthKey == "xs" {
            @media (max-width:320px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "sm" {
            @media (min-width:320px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "md" {
            @media (min-width:768px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        } @else if $widthKey == "lg" {
            @media (min-width:1024px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        }@else if $widthKey == "xl" {
            @media (min-width:1440px) {
                #{$className}{
                    @each $key, $value in $widthStyle {
                        #{$key}:$value;
                    }
                }
            }
        }
    }
}

::v-deep .mainCard{
    height: 394px;
}
::v-deep .imageCard{
    height: 198px;
}
::v-deep .headerText{
    font-family: "Segoe UI",sans-serif;
}
::v-deep .bodyText{
    font-family: "Segoe UI",sans-serif;
}
.bottomText{
    font-family: "Segoe UI",sans-serif;
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
}