@media (min-width:320px) {
    .header_style4{
        font-size: 14px;
    }
    .header_style3{
        font-size: 16px;       
    }
    .header_style2{
        font-size: 35px;    
    }
    .header_style1{
        font-size: 35px;    
    } 
    .logo_style1{
        font-size: 12px;    
    }
}
@media (min-width:768px) {
    .header_style4{
        font-size: 16px;
    }
    .header_style3{
        font-size: 16px;       
    }
    .header_style2{
        font-size: 35px;    
    }
    .header_style1{
        font-size: 35px;    
    } 
    .logo_style1{
        font-size: 20px;    
    }
}
@media (min-width:1024px) {
    .header_style4{
        font-size: 24px;
    }
    .header_style3{
        font-size: 24px;       
    }
    .header_style2{
        font-size: 60px;    
    }
    .header_style1{
        font-size: 60px;    
    } 
    .logo_style1{
        font-size: 28px;    
    }
}
@media (min-width:1440px) {
    .header_style4{
        font-size: 24px;
    }
    .header_style3{
        font-size: 24px;       
    }
    .header_style2{
        font-size: 60px;    
    }
    .header_style1{
        font-size: 60px;    
    }
    .logo_style1{
        font-size: 28px;    
    } 
}