@media (max-width:320px) {
    .mainText{
        margin: 10px 0px 10px 0px;
        font-size:18px;
    }
    ::v-deep .subText{
        margin: 0px 0px 10px 0px;
        font-size:18px;
    }
    .firstForm{
        margin: 20px 20px 0px 24px;
        padding:0px 7px;
        width:300px;
    }
    .secondForm{
        margin: 20px 20px 0px 20px;
        padding:0px 7px;
        width:300px;
    }
    .thirdForm{
        margin: 20px 10px 0px 24px;
        padding:0px 7px;
        width:300px;
    }
}
@media (min-width:320px) {
    .mainText{
        margin: 10px 0px 10px 0px;
        font-size:18px;
    }
    ::v-deep .subText{
        margin: 0px 0px 10px 0px;
        font-size:18px;
    }
    .firstForm{
        margin: {
            top:20px;
            left:10px;
            bottom: 0px;
            right: 10px;
        }
        padding:0px 7px;
        width:300px;
    }
    .secondForm{
        margin: {
            top:20px;
            left:10px;
            bottom: 0px;
            right: 10px;
        }
        padding:0px 7px;
        width:300px;
    }
    .thirdForm{
        margin: {
            top:20px;
            left:10px;
            bottom: 0px;
            right: 10px;
        }
        padding:0px 7px;
        width:300px;
    }
    .mainContainer{
        justify-content: center;
    }

}
@media (min-width:768px) {
    .mainContainer{
        justify-content: center;
    }
    .mainText{
        margin: 20px 0px 20px 0px;
        font-size:24px;
    }
    ::v-deep .subText{
        
        margin: 0px 0px 20px 0px;
        font-size:24px;
    }
    .firstForm{
        margin: {
            top:20px;
            left:24px;
            bottom: 0px;
            right: 10px;
        }
        padding:0px 7px;
        width:330px;
    }
    .secondForm{
        margin: {
            top:20px;
            left:10px;
            bottom: 0px;
            right: 10px;
        }
        padding:0px 7px;
        width:330px;
    }
    .thirdForm{
        margin: {
            top:20px;
            left:10px;
            bottom: 0px;
            right: 24px;
        }
        padding:0px 7px;
        width:330px;
    }
}
@media (min-width:1024px) {
    .mainText{
        margin: 30px 0px 50px 0px;
        font-size:26px;
    }
    ::v-deep .subText{
        margin: 0px 0px 20px 0px;
        font-size:24px;
    }
    .firstForm{
        margin: 0px 42px 0px 10px;
        padding:0px 7px;
        width:290px;
    }
    .secondForm{
        margin: 0px 10px 0px 10px;
        padding:0px 7px;
        width:290px;
    }
    .thirdForm{
        margin: 0px 10px 0px 42px;
        padding:0px 7px;
        width:290px;
    }
}
@media (min-width:1440px) {
    .mainText{
        margin: 30px 0px 50px 0px;
        font-size:26px;
    }
    ::v-deep .subText{
        margin: 0px 0px 20px 0px;
        font-size:24px;
    }
    .firstForm{
        margin: 0px 60px 0px 20px;
        padding:0px 10px;
        width:420px;
    }
    .secondForm{
        padding: 0px 20px 0px 20px;
        padding:0px 10px;
        width:420px;
    }
    .thirdForm{
        margin: 0px 20px 0px 60px;
        padding:0px 10px;
        width:420px;
    }
}
.mainText{
    font-family:sans-serif;
    text-align :center;
    color:#C1272D;
}
::v-deep .subText{
    font-family:sans-serif;
    text-align :center;
    color:#C1272D;
}
.forms{
    border-color:#00000029;
    border-width:2px;
    border-right-style: outset;
    border-left-style: inset;
    border-bottom-style: inset;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;

}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}