@mixin flexContainer($background:"") {
    .mainContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .subContainers{
        flex:50%;
    }
}
@mixin flexContainer2($id) {
    #{$id}{
        display: flex;
        flex-wrap: wrap;
    }
}
@mixin flexSubContainer2($id,$size) {
    #{$id}{
        flex:$size;
        text-align: center;
    }
}